<h1 class="text-3xl mb-4">Periodos</h1>

<%= link_to 'Agregar periodo', new_periodo_path, class: "btn btn-primary" %>

<br/><br/>

<%= form_with url: periodos_path, method: :get, local: true, class: "mb-4" do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :mes, 'Mes', class: "form-label" %>
      <%= f.select :mes, 
                  options_for_select(I18n.t('date.month_names').compact.map.with_index(1) { |month, index| [month.capitalize, index] }, params[:mes]), 
                  { include_blank: 'Todos' }, 
                  { class: "form-select" } %>
    </div>
    <div class="col-md-6">
      <%= f.label :año, 'Año', class: "form-label" %>
      <%= f.select :año, 
                  options_for_select((Date.current.year..Date.current.year + 5).to_a, params[:año]), 
                  { include_blank: 'Todos' }, 
                  { class: "form-select" } %>
    </div>
  </div>
  <%= f.submit 'Filtrar', class: "btn btn-primary mt-3" %>
<% end %>

<br/><br/>

<% if @periodos.any? %>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Mes</th>
        <th scope="col">Año</th>
        <th scope="col">Fecha de Asamblea</th>
        <th scope="col" colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @periodos.each do |periodo| %>
        <tr>
          <td><%= periodo.mes_texto.capitalize %></td>
          <td><%= periodo.año %></td>
          <td><%= periodo.fecha_asamblea_with_format %></td>
          <td><%= link_to 'Editar', edit_periodo_path(periodo), class: "btn btn-sm btn-primary me-2" %></td>
          <td><%= link_to 'Eliminar', periodo, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @periodos, renderer: BootstrapPaginateRenderer %>

  <%= link_to 'Descargar copia de seguridad', periodos_path(format: :csv), class: "btn btn-outline-primary mb-4" %>
<% end %>
